<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/images/Sixt-Logo.png">
</div>

<router-outlet></router-outlet>
<div class="row">
  <div class="col-md-2 offset-md-4 mode-button-holder">
    <a class="btn btn-sixt" href="/driver">
      Driver
    </a>
  </div>
  <div class="col-md-2 mode-button-holder">
    <a class="btn btn-sixt" href="/god">
      God
    </a>
  </div>
</div>