
<div class="row">
    <div class="col-md-1"><h1>Hi God</h1></div>
    <div class="col-md-2"><img class="profile-photo" src="assets/images/darth-vader.png"></div>
</div>
<div class="row equal-height">
    <div class="col-md-8" *ngIf="zones.length > 0">
        
        <agm-map
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">
        
        <agm-polygon *ngFor="let zone of zones" 
            [fillColor]="getColorCode(zone.weight)"
            [fillOpacity]="0.5" 
            [paths]="zone.paths"
            [strokeColor]="zone.borderColor" 
            strokeOpacity="0.8" 
            [strokeWeight]="zone.borderWeight"
            [visible]="true" [zIndex]="1"
            (polyClick)="zoneClick($event, zone.zoneCenter, zone.id, zone.weight)"
        >
        
        <agm-info-window>
        <strong>InfoWindow content</strong>
        </agm-info-window>
        
        </agm-polygon>
<!--  [isOpen]="infoWinOpen" -->
        <agm-snazzy-info-window #infoWindow 
        [isOpen]="infoWinOpen"
        [latitude]="infoWindowPos.lat" 
        [longitude]="infoWindowPos.lng" 
        [maxWidth]="300"
        [maxHeight]="500">
            <ng-template>
                {{ infoContent }}
                <br>
                <div class="form-group">
                    <label for="updatedzoneweight">Update Weight</label>
                    <select class="form-control" id="updatedzoneweight" [(ngModel)]="updatedWeight">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button class="btn btn-sixt" 
                (click)="changeCluster(currentZoneID, updatedWeight)">Update Weight</button>
            </ng-template>
        </agm-snazzy-info-window>  

        <agm-marker 
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="god.lat"
            [longitude]="god.lng"
            [label]="god.label"
            [markerDraggable]="god.draggable"
            (dragEnd)="markerDragEnd(god, $event)">
            
            <agm-info-window>
            <strong>InfoWindow content</strong>
            </agm-info-window>
            
        </agm-marker>

        
        <ng-container *ngFor="let zone of zones">
            <agm-marker *ngFor="let taxi of zone.taxis"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="taxi.lat"
            [longitude]="taxi.lng"
            iconAnchorX="30"
            iconAnchorY="30"
            [iconUrl]="taxiIcon">
                
            </agm-marker>
        </ng-container>

        <agm-marker *ngFor="let supermarket of supermarkets"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="supermarket.lat"
            [longitude]="supermarket.lng"
            iconAnchorX="30"
            iconAnchorY="30"
            [iconUrl]="supermarketIcon">
                
        </agm-marker>
        
        <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
            [radius]="5000"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
        </agm-circle> -->
        
        </agm-map>

        <!-- <div style="height: 300px;" *ngIf="options"
            leaflet 
            [leafletOptions]="options">
        </div> -->

        <div class="row">
            <div class="col-md-2 offset-md-1 color-code color-code-5">Very High Demand</div>
            <div class="col-md-2 color-code color-code-4">High Demand</div>
            <div class="col-md-2 color-code color-code-3">Average Demand</div>
            <div class="col-md-2 color-code color-code-2">Low Demand</div>
            <div class="col-md-2 color-code color-code-1">Very Low Demand</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="god-control-box">
            <h1>Playground</h1>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Check Busy Zones on Date"
                        [(ngModel)]="dateInput"
                        (dateInput)="getBusyClusters($event)" (dateChange)="getBusyClusters($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="busy-zones-display">
                {{ dateInput | date }}
                <div *ngIf="holiday">
                    <p>As it's {{ holiday }} on {{ dateInput | date }}, zones {{ busyZonesOnSelectedDate }} will be quite busy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    